/Content/StarterContent
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs
/Content/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap
/Content/__ExternalObjects__/ThirdPerson/Maps/ThirdPersonMap
/Saved
/Content/LevelPrototyping
/Content/Characters
/Content/ThirdPerson
